/* OLD CSS */

/* .circular {
    top: 5rem;
    height: 100px;
    width: 100px;
    position: relative;
    margin-bottom: 10rem;
    transform: scale(2);
  }

  .circular .inner {
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background: #FFFFFF;
    border-radius: 100%;

  }

  .circular .number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 18px;
    font-weight: 500;
    color: #EE2A24;
  }

  .circular .bar {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #003876;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
  }

  .circle .bar .progress {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: #EE2A24;
  }

  .circle .left .progress {
    z-index: 1;
    animation: left 4s linear both;
  }

  @keyframes left {
    100% {
      transform: rotate(360deg);
    }
  }

  .circle .right {
    transform: rotate(180deg);
    z-index: 3;

  }

  .circle .right .progress {
    animation: right 4s linear both;
    animation-delay: 4s;
  }

  @keyframes right {
    100% {
      transform: rotate(72.36deg);
    }
  } */

@keyframes showBox {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.box {
    background: #fff;
    color: #EE2A24;
    width: 300px;
    height: 400px;
    padding: 20px;    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    box-shadow: 0 30px 60px rgba(0, 0, 0, .4);
    /* transition: transform .2s; */
    animation: showBox 1s ease;
}

.box-info {
    background: #003876;
    color: #FFF;
    width: 300px;
    height: 300px;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    box-shadow: 0 30px 60px rgba(0, 0, 0, .4);
    /* transition: transform .2s; */
    animation: showBox 1s ease;
}

.box-info ul li {
    margin-bottom: 10px;
}

.box-info ul li small {
    color: #bdbdbd;
}

/* .box:hover
{
transform:scale(1.2);
} */
.box .percent {
    width: 150px;
    height: 150px;
    position: relative;
}

.box .percent svg {
    width: 150px;
    height: 150px;
    position: relative;
    transform: rotate(270deg);
}

.box .percent svg circle {
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: #000;
    transform: translate(5px, 5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;  
}

.box .percent svg circle:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: #003876;    
}

.box .percent svg circle:nth-child(2) {
    /* change with React */
    /* stroke-dashoffset: calc(440 - (440 * 20) / 100);  */
    stroke: #EE2A24;
}

.box .percent .num {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: #111;
}

.box .percent .num h3 {
    font-size: 36px;
    color: #EE2A24;    
}

.box .percent .num h2 span {
    font-size: 20px;
}

.box .text {
    padding: 10px 0 0;
    color: #999;
    font-weight: 700;
    letter-spacing: 1px;
    color: #EE2A24;
}